/*CSS Reset*/
*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

/*CSS Variables (Optional Option) */
:root{
    --navbar-height: 59px;
}

/*Navigation Bar*/
#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}

/*Navigation Bar: Logo and Images*/
#logo{
    margin: 7px 34px;
}

#logo img{
    height: 59px;
    margin: 7px 10px;
}

/*Navigation Bar: List and Styling*/
#navbar ul{
    display: flex;
}

#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
    font-family: 'Zen Dots', sans-serif;
    font-weight: bold;
}

#navbar ul li a:hover{
    color: black;
    background-color: white;
}

/*Home Section*/
#home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 550px;
    padding: 3px 200px;
}

#home::before{
    content: "";
    background: url(..//bg.jpg) no-repeat center center/cover;
    position: absolute;
    height: 640px;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
}

#home h1{
    text-align: center;
    color: white;
    font-family: 'Permanent Marker', cursive;
}

#home p{
    text-align: center;
    color: white;
    font-size: 1.2rem;
    font-family: 'Pacifico', cursive;
}

/*Services*/

#services{
    margin: 34px;
    display: flex;
}

#services .box{
    border: 2px solid black;
    padding: 30px;
    margin: 2px 55px;
    border-radius: 28px;
    background-color: #f2f2f2;
    margin-bottom: 20px;
}

#services .box img{
    height: 160px;
    margin: auto;
    display: block;
}

#services .box p{
    font-size: 1.2rem;
}

/*Clients Section*/
#client-section{
    height: 330px;
}

#client-section::before{
    content: "";
    position: absolute;
    background: url(../bg1.jpg) no-repeat center center/cover;
    height: 340px;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}

#clients{
    display: flex;
    align-items: center;
    justify-content: center;
}

.client-item{
    padding: 34px;
}

#clients img{
    height: 124px;
}

/*Contact Section*/
#contact{
    position: relative;
}

#contact::before{
    content: "";
    position: absolute;
    background: url(../contact.jpg)no-repeat center center/cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;
}

#contact-box{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 34px;
}

#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 10px;
}

#contact-box form{
    width: 40%
}

#contact-box label{
    font-size: 1.5rem;
}

/*Footer*/
footer{
    background-color: darkgrey;
    color: beige;
    padding: 9px 20px;
}


/*Utility Classes*/
.h-primary{
    font-size: 3rem;
    padding: 10px;
    margin: 10px 0;
}

.h-secondary{
    font-size: 1.8rem;
    padding: 10px;
}

.btn{
    font-size: 1.3rem;
    background-color: #ebd61d;
    padding: 6px 15px;
    border-radius: 10px;
    color: snow;
    border: 2px solid black;
    margin: 20px 2px;
    cursor: pointer;
}

.center{
    text-align: center;
}

.btn1{
    margin: 10px auto;
    display: flex;
    padding: 10px 30px;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: yellow;
    color: black;
    border-radius: 10px;
    opacity: 0.8;
}




































